<nav
    class="navbar navbar-expand-sm navbar-light bg-light"
>
    <div class="container">
        <a class="navbar-brand" routerLink="/"><span class="span1">E</span> <span class="span2">-</span><span class="span3">Commerce</span>
        </a>
        <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0 d-flex algin-items-center">
                <li class="nav-item pe-3">
                    <i class="fa-brands fa-facebook ">
                    </i>
                </li>
                <li class="nav-item pe-3">
                    <i class="fa-brands fa-facebook-messenger"></i>
                </li>
                <li class="nav-item pe-3">
                    <i class="fa-brands fa-twitter"></i>
                </li>
                <li class="nav-item pe-3">
                    <i class="fa-brands fa-instagram"></i>
                </li>
                <li class="nav-item pe-3">
                    <i class="fa-brands fa-whatsapp text-black"></i>
                </li>
                <li class="nav-item pe-3">
                    <i class="fa-brands fa-youtube"></i>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" routerLink="/login" routerLinkActive="active-link">login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/register" routerLinkActive="active-link">register</a>
                </li>
                
            </ul>
            
        </div>
    </div>
</nav>
