<section class="bg-main-light mt-3 p-3 rounded">
    <div class="container">
        <h1 class="">Get The Fresh Cart App</h1>
        <p>We Will Send A Link ,Open It on Your Phone </p>
        <div class="row">
            <div class="col-md-10">
                <input type="email" placeholder="subscribe" class="form-control"  id="mail" name="mail">
            </div>
            <div class="col-md-2">
                <button class="btn-main">Subscribe</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="pratner row justify-content-center align-items-center mt-3">
                    <h4 class="col-md-5">
                        Paymet Partners :
                    </h4>
                    <div class="payment col-md-7">
                        <img src="./assets/img/PayPal.png" alt="paypal" width="70px" class="me-3">
                        <img src="./assets/img/visa.jpeg" alt="visa" width="70px" class="me-3">
                        <img src="./assets/img/Mastercard.jpg" alt="Mastercard" width="70px" class="me-3">
                        <img src="./assets/img/vodafone.jpg" alt="paypal" width="70px" class="me-3">
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-3 d-flex justify-content-center align-items-center">
                <div class="item d-flex">
                    <div class="col-md-9">
                        <h5>Get Delivaries With FrishCart  Every Week!</h5>
                    </div>
                    <div class="col-md-4">
                        <img src="../../../assets/img/app-store-logo.png" alt="app-store" width="70px" class="me-3">
                        <img src="../../../assets/img/Google-Play-Emblema.png" alt="Google-Play" width="70px" class="me-3">
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <p class="text-center p-3">@2024 Mahmoud Ahmed , All Rights Reserved </p>
    </div>
</section>
